.padded li {
	padding: 5px;
}

.btn-md {
	width: 50%;
}

.btn-lg {
	width: 80%;
}

.form-horizontal {
	padding: 10px;
}

.header {
	margin-bottom: 15px;
}

.header h3 {
	line-height: 30px;
	padding-bottom: 10px;
}

.navbar-btn {
	margin-top: 0px;
}

/** Modal Styles */
.simplemodal-overlay {
	background: #d5d5d5;
}

.simplemodal-container {
	background: #fff;
	border-radius: 3px;
	width: 50%;
}

@media (min-width: 768px)
.container {
	max-width: 1000px !important;
}

.glyphicon {
	font-size: 20px;
}

.clear {
	border: 1px solid #337ab7 !important;
	color: #337ab7 !important;
	background: #fff !important;
}

.winner-banner {
	text-align: center;
}

.winner-banner img {
	width: 70%;
}

.jumbotron {
	padding: 0;
	background: none;
}